@import "tailwindcss";

@theme {
  /* min width 기준 breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xs: 0px;
  --breakpoint-sm: 429px;
  --breakpoint-md: 539px;
  --breakpoint-lg: 1023px;

  --text-xxxs: 0.6rem;
  --text-xs: 0.9rem;

  --color-theme: var(--theme);
  --color-error: var(--error);
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-display: swap;
}

:root {
  font-family: Pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme: #005bd6;
  --error: rgb(255, 31, 31);
  --text: black;
  --background: white;
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

#root {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
}

span {
  font-size: 1.2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}