@import "tailwindcss";

@theme {
  /* min width 기준 breakpoints */
  --breakpoint-*: initial;
  --breakpoint-xs: 0px;
  --breakpoint-sm: 429px;
  --breakpoint-md: 539px;
  --breakpoint-lg: 1023px;

  --text-xxxs: 0.6rem;
  --text-xs: 0.9rem;

  --color-theme: var(--theme);
  --color-error: var(--error);
  --color-background: var(--background);
  --color-skeleton: var(--skeleton);

  --font-paperozi: "Paperozi", sans-serif;
  --font-memoment: "memomentKkukkkuk", sans-serif;

  --animate-fadein: fadeIn 0.5s ease-in-out 0.1s both;
}

@font-face {
  font-family: 'memomentKkukkkuk';
  src: url('/fonts/memomentKkukkkuk.ttf') format('truetype');
  font-display: swap;
}

@font-face {
    font-family: 'NoonnuBasicGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noon-2410@1.0/NoonnuBasicGothicRegular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Paperozi';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

:root {
  font-family: Paperozi, Pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --theme: rgb(0, 91, 214);
  --theme-rgb: 0, 91, 214;
  --error: rgb(255, 31, 31);
  --skeleton: #e5e7eb;
  --text: black;
  --overlay-rgb: 34,34,34;
  --background: white;
}

body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

/* ::-webkit-scrollbar {
  display: none;
} */

#root {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

span {
  font-size: 0.8rem;
}

@media screen and (max-width: theme(--breakpoint-md)) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  p {
    font-size: 1rem;
  }

  span {
    font-size: 0.7rem;
  }

}

.image-card {
  transition: left 0.3s ease-in-out, top 0.3s ease-in-out, width 0.3s ease-in-out;
}

.image-card img {
  transition: opacity 0.5s ease-in-out;
  border-radius: 3px;
}

button {
  cursor: pointer;
  padding: 0.1rem 0.6rem;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(var(--overlay-rgb), 0.3);
  color: white;
  font-weight: 500;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

button.active, button:hover {
  background-color: var(--theme);
}

.bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.6rem;
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  word-break: keep-all;
  color: white;
  background-color: rgba(var(--overlay-rgb), 0.4);
  backdrop-filter: blur(2px);
  text-align: center;
}

header h1{
  text-shadow: -1px 0px rgba(255,255,255,0.7), 0px 1px rgba(255,255,255,0.7), 0px -1px rgba(255,255,255,0.7), 1px 0px rgba(255,255,255,0.7);
}

input {
  border-radius: 3px;
  border: 1px solid rgba(var(--overlay-rgb), 0.4);
  padding: 0.1rem 0.6rem;
  color: black;
}

input::placeholder {
  font-size: 0.7rem;
  color: rgba(var(--overlay-rgb), 0.4);
}

input:focus {
  outline: 1px solid var(--theme);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}

/* 짝수 요소 프레임 */
.images-wall > *:nth-child(even) {
  background-color: rgb(241, 241, 241);
  padding: 0.2rem;
  border: 0.4rem solid #aaafb5;
  box-shadow: 1px 4px 5px 8px rgba(87, 84, 84, 0.3);
  outline: 9px solid #334a96;
}

/* 홀수 요소 프레임 */
.images-wall > *:nth-child(odd) {
  background-color: rgb(218, 218, 218);
  padding: 0;
  border: 3px solid #e2e6e7;
  box-shadow: 1px 5px 3px 16px rgba(59, 58, 58, 0.1);
  outline: 1rem solid #aaafb5;
}

/* 추가 변수용 매 3번째 요소 프레임 */
.images-wall > *:nth-child(3n) {
  background-color:rgb(192, 192, 192);
  border: 1rem solid #ffffff;
  padding: 0.5rem;
  box-shadow: inset 0 0 3px 1px rgba(73, 69, 68, 0.3), 2px 3px 3px 3px rgba(61, 58, 58, 0.3);
  outline: 5px solid #383838;
}

.frame {
  will-change: transform, opacity;
  transform-style: preserve-3d;
  transform-origin: bottom center;
  cursor: pointer;
  background-color: var(--skeleton);
}
